@import '../../common/variables';

.main-page {
  min-height: 1000px;
  padding-top: 40px;
}

.main-page.light {
  background-color: $light-bg;

  .toolbar {
    &__search {
      img {
        filter: invert(60%);
      }
      input {
        color: $light-text;
      }
    }
  }

  .countries {
    .country {
      background-color: $dark-text-light-el;

      &__info__name {
        color: $light-text;
      }
    }

    .not-found {
      color: $light-text;
    }
  }

  .back-home {
    background-color: $dark-text-light-el;
    color: $light-text;
  }
}

.main-page.dark {
  background-color: $dark-bg;

  .toolbar {
    &__search {
      img {
        filter: invert(1);
      }
      input {
        background-color: $dark-el;
        color: $dark-text-light-el;
      }
    }

    &__filter {
      background-color: $dark-el;
      color: $dark-text-light-el;
    }
  }

  .countries {
    .country {
      background-color: $dark-el;
      color: $dark-text-light-el;

      &__info__name {
        color: $dark-text-light-el;
      }
    }

    .not-found {
      color: $dark-text-light-el;
    }
  }

  .back-home {
    background-color: $dark-el;
    color: $dark-text-light-el;

    img {
      filter: invert(1);
    }
  }

  .detail {
    color: $dark-text-light-el;

    .detail__info__border_countries {
      span {
        background-color: $dark-el;
      }
    }
  }
}
